---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<div class="bg-orange-950">
<BaseLayout expandFooter="true" title="About" changeColour="true">
  <div class=" border border-black">
    <div class="flex ml-2 mt-3">
      <a href="/">
        <img width="24" height="24" src="/back.png" alt="back--v1"/>
      </a>

      <a href="/" class="mr-3 text-slate-400"> Back</a>

      <a href="/about" class="font-semibold text-yellow-500"> About</a>
    </div>

    <div class="border border-black"></div>
  </div>
</BaseLayout>
</div>