---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<div class="bg-[#422424]">
  <BaseLayout expandFooter="true" title="About" changeColour="true">
    <div class="px-4 py-5">
      <div class="flex items-center space-x-3 md:space-x-3">
        
        <a href="/">
          <img width="24" height="24" src="/back.png" alt="back--v1"/>
        </a>

        <a href="/" class="text-sm md:text-base text-slate-400">Back</a>
        <a href="/about" class="text-sm md:text-base font-semibold text-[#E0D8BF]">About</a>
      </div>
    </div>
  </BaseLayout>
</div>
