---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import { Image } from "@astrojs/image/components";
import { motion } from "framer-motion"

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const message = data.get("message");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

function handleClick() {
  console.log("clicked");
} 
---

<div class="bg-[url('/background_home.svg')] bg-cover ">

<BaseLayout isIndex="" expandFooter="" sideBarActiveItemID="chat" title="chat" >
  <!-- <div class="absolute bottom-0 w-screen h-screen  bg-teal-800 z-50">  
  </div> -->
  <div>
  <div class=" flex flex-col h-screen">

    <div class=" flex px-5 py-6  w-full  items-center  bg-white"> 
      <div class="flex items-center ">
      <a href="/">
        <img width="24" height="24" src="/back.png" alt="back--v1"/>
      </a>
      <a href="/" class="self-center mr-3">Back</a>
      <a href="/chat"  class="btn btn-outline border-base-300 mx-5 hover:bg-[#356262]">
        <!-- Profile Image -->
        <Image class="mask mask-circle" aspectRatio="1:1" format="webp" width={30} height={30} src="/profile.svg" alt="Profile image" />
        <span class="text-sm "> online </span>
        <span class="relative">
          <span class="absolute animate-pulse  w-1.5 h-1.5 bg-green-500 rounded-full" style="top: 50%; transform: translate(-50%, -50%);"></span>
        </span>
        <span class="text-sm text-[#E0D8BF]"> | chat </span>
      </a>
    </div>
    </div>

    <div class="flex flex-col justify-between h-full">
      <div class="flex columns-2 align-middle justify-items-start h-1/5 w-full gap-3 pl-5 ">

        <div class="w-auto h-auto  align-middle self-center">
          <Image class="mask mask-circle" aspectRatio="1:1" format="webp" width={30} height={30} src="/profile.svg" alt="Profile image" />
        </div>

        <div class="w-auto h-auto  align-middle self-center justify-start bg-white rounded-md shadow-lg">
          <p class="font-normal text-black text-normal text-center align-middle p-2">Hi! this is Ahmed Kamal. How can I help you today? </p>
        </div>
      </div>
      
      <div id="chat-container" class="h-1/6 w-full flex  bg-white">
        
          <div id="third" class="flex w-full align-middle justify-center self-center hidden">
            <h2 class="align-middle text-center font-semibold text-xl text-[#ebdbab]">
              Submitted 
            </h2>
          </div>
        

        <div id="second" class="grid grid-rows-4 gap-4 w-full self-center hidden">
          <div class=" self-center">
            <h2 class="align-middle  text-center font-semibold text-xl text-[#E0D8BF]">
              How can I get back to you?
            </h2>
          </div>
          <div class="self-center justify-center flex">
            <p  class="align-middle w-1/2 text-center font-normal text-md text-[#B1BACC] ">
              Please provide your email and name below. I will get back to you as soon as I possible.
            </p>
          </div>
          <div class="self-center justify-center flex ">
            <p id="userMessage" class="align-middle w-4/5 text-center bg-[#faf9f7e0] font-normal text-normal text-[#B1BACC] ">
            </p>
          </div>
          <div class="">

              <form class="flex w-full items-center justify-between px-5" id="chat-form2" method="POST">
                  <div class="flex flex-1 px-2">
                      <input name="name" type="text" class="input input-bordered w-full h-8" placeholder="Name..." required />
                  </div>

                  <div class="flex flex-1 px-2">
                      <input name="email" type="text" class="input input-bordered w-full h-8" placeholder="Official Email address..." required />
                  </div>

                  <button id="submit2" class="btn btn-accent h-8  min-h-0  bg-[#122447D9]">
                      <a href="/chat" class="font-normal">Submit</a> 
                  </button>
              </form>

          </div>


        </div>

        <form class="flex w-full self-center align-middle columns-2 justify-between mx-5" id="chat-form"  method="POST">
            
            <div class="flex w-8/12 border-outline border-base-300 align-middle self-center">
                <input name="message" type="text" class="input input-bordered w-full" placeholder="Type your message" required />
            </div>

            <button id="submit" class="flex btn border-outline border-base-300 bg-blue-950 w-3/12 self-center text-[#FAF9F7] hover:bg-[#356262]">
              <a href="/chat">SEND</a>
            </button>

        </form>

      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {  // Ensure the DOM is fully loaded
    const button = document.getElementById('submit');
    const messageInput = document.querySelector('input[name="message"]');
    const button2 = document.getElementById('submit2');
    const name = document.querySelector('input[name="name"]');
    const email = document.querySelector('input[name="email"]');

    // Handle clicks on the button.
    button.addEventListener('click', (event) => {
        event.preventDefault();  // Prevent any default action
        const message = messageInput.value.trim();
        console.log(message);

        setTimeout(function() {
            var chatContainer = document.getElementById("chat-container");
            var chatForm = document.getElementById("chat-form");

            chatContainer.classList.remove("h-1/6");
            chatContainer.classList.add("h-1/2", "transition-all", "duration-[700ms]");
            chatForm.classList.add('hidden');
            const userMessageElement = document.getElementById('userMessage');
            userMessageElement.innerText = message;

        }, 0); // The delay time for parent element in ms

        setTimeout(function() {
            var second = document.getElementById("second");

            second.classList.remove("hidden");
            
        }, 700); // The delay time for parent element in ms

    });

    button2.addEventListener('click', (event) => {
        event.preventDefault();  // Prevent any default action
        const name = name.value.trim();
        const email = name.value.trim();

        console.log(name, email);
        
        setTimeout(function() {
            var second = document.getElementById("second");
            second.classList.add('hidden');

            
        }, 0); // The delay time for parent element in ms

        setTimeout(function() {
            var third = document.getElementById("third");

            second.classList.remove("hidden");
            

        }, 700); // The delay time for parent element in ms

    });
});

  </script>

</BaseLayout>
</div>
