---
const { expandFooter } = Astro.props;
const { changeColour } = Astro.props;
---

<!-- <div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div> -->

<div class={"social-icons  pb-6 pt-8 flex   " + (expandFooter ? " px-5 justify-between": " self-center justify-evenly") + (changeColour ? " bg-orange-900" : " bg-teal-900")}>
    <!-- display svg icons of size 24 x 24 from the public folder -->
    <div class="flex space-x-7 ">
        <a href="https://github.com/manuelernestog"><img src="/dribble.png" alt="github icon" width="18" height="18" /></a>
        <a href="https://twitter.com/manuelernestog"><img src="/instagram.svg" alt="twitter icon" width="18" height="18" /></a>
        <a href="https://twitter.com/manuelernestog"><img src="/linkedin.png" alt="twitter icon" width="18" height="18" /></a>
        <a href="https://twitter.com/manuelernestog"><img src="/github.png" alt="twitter icon" width="18" height="18" /></a>
    </div>
    <div>
        <p>
            <span class="text-orange-100 text-sm">
                <a href="mailto:ahmedkamaleldin@gmail.com">ahmedkamaleldin@gmail.com</a>
            </span>
        </p>
    </div>
</div>
